nav ul {
    list-style-type: none; /* Verwijdert opsommingstekens */
    margin: 0;
    padding: 0;
    background-color: #333;
    overflow: hidden;
}

nav li {
    float: left; /* Zorgt voor een horizontaal menu */
}

nav li a {
    display: block;
    color: white;
    text-align: start;
    padding: 14px 16px;
    text-decoration: none; /* Verwijdert onderstreping */
}

nav li a:hover {
    background-color: #111; /* Kleur bij 'hover' */
}
body {
  font-family: Arial, sans-serif;
  background: #B1CFF0;
  margin: 0;
  padding: 20px;
}

.container {
  max-width: 800px;
  margin: auto;
}

.card {
  background: white;
  padding: 15px;
  margin: 10px 0;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

h1, h2 {
  text-align: start;
}

.stat {
  font-size: 18px;
  margin: 5px 0;
}

.message {
  font-style: italic;
  color: #555;
}
.navbar {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-bottom: 20px;
}

#searchInput {
  padding: 10px;
  font-size: 16px;
  width: 200px;
}

button {
  padding: 10px;
  font-size: 16px;
  cursor: pointer;
}

.p {
  text-align: start;  
}

.widget {
    background: rgba(86, 108, 102, 1);
    padding: 40px;
    border-radius: 20px;
    text-align: center;
    width: 100%;
    rgba(242, 226, 225, 1);
    box-shadow: 0 0 30px rgba(242, 226, 225, 0,5);
}

.div {
    width: 33%;
}
