nav ul {
    list-style-type: none; /* Verwijdert opsommingstekens */
    margin: 0;
    padding: 0;
    background-color: #333;
    overflow: hidden;
}

nav li {
    float: left; /* Zorgt voor een horizontaal menu */
}

nav li a {
    display: block;
    color: white;
    text-align: start;
    padding: 14px 16px;
    text-decoration: none; /* Verwijdert onderstreping */
}

nav li a:hover {
    background-color: #111; /* Kleur bij 'hover' */
}

body {
  font-family: Arial, sans-serif;
  background: rgba(199, 206, 205, 1);
  margin: 0;
  padding: 20px;
}

.container {
  max-width: 800px;
  margin: auto;
}

.card {
  background: rgba(180, 222, 216, 1.0); /* lichter groen */
  padding: 15px;
  margin: 10px 0;
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(255, 140, 0, 0.5); /* oranje glow */
  color: white;
}

h1, h2 {
  text-align: start;
}

.stat {
  font-size: 18px;
  margin: 5px 0;
}

.message {
  font-style: italic;
  color: #555;
}
.navbar {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-bottom: 20px;
}

#searchInput {
  padding: 10px;
  font-size: 16px;
  width: 200px;
}

button {
  padding: 10px;
  font-size: 16px;
  cursor: pointer;
}

.p {
  text-align: start;  
}
